[submodule "themes/devfest-theme-hugo"]
	path = themes/devfest-theme-hugo
	url = https://github.com/GDGToulouse/devfest-theme-hugo.git
[submodule "themes/ahbab-travels-tours-theme"]
	path = themes/ahbab-travels-tours-theme
	url = https://github.com/0sama-Mirza/ahbab-travels-tours-theme.git
